/*******************************************************************************
Simple Theme for GitHub Pages
Adatpted from the Slate Theme for GitHub Pages by Jason Costello, @jsncostello
Pascal Hersen (@phersen)
*******************************************************************************/

/*general reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

body {
  background: black;
  font-size: 16px;
  font-family: 'Quicksand', Calibri, Helvetica, Arial, sans-serif;
  font-weight:400;
  color: #EBE7D6;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color:#EBE7D6;
  font-family: 'Oswald' Helvetica, Arial, sans-serif;
}

h1{
    font-size: 2em; 
	line-height: 1.5em; 
	margin-bottom: 0.5em;
	} /* 30px */
	

h2 {
	font-size: 1.5em; 
	line-height: 1.5em; 
	margin-bottom: 0.5em;
	} /* 24px */
	
h3{
	font-size: 1.125em; 
	line-height: 1.2em; 
	margin-bottom: 0.3335m
	} /* 18px */ 

p, ul, blockquote, pre, td, th, label {
	margin: 0; 
	font-size: 1em; 
	line-height: 1.2em; 
	margin-bottom: 0.3335em} 
	/* 16px */

.small {
	margin: 0; 
	font-size: 0.875em; 
	line-height: 1.2em; 
	margin-bottom: 0.3335em
	} /* 14px*/

footer p {
  color: #EBE7D6;
}

a {
  text-decoration: none;
  color: #F60;
}

*:focus {
    outline: 0; /* not great for accessibility but the "outlining is really ugly .... */
}

a:hover, a:focus {text-decoration: underline;}


/***********************************************************************************
Mobile First
************************************************************************************/
#header_wrap {
  background: #212121;
  border-bottom-color:#F60;
  border-bottom-width:thin;
  border-bottom-style:solid;
}

#header_wrap .inner {
  padding: 30px 10px 30px 10px;
}


#main_content_wrap {
  background: black;
}

#main_content {
  padding-top: 40px;
}

#footer_wrap {
  border-top-color:#F60;
  border-top-width:thin;
  border-top-style:solid;
  background: #212121;
}

/* classes */
.outer {
  width: 100%;
}

.inner {
  position: relative;
  width: 90%;
  padding: 20px 10px;
  margin: 0 auto;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/*******************************************************************************
Full-Width Styles
*******************************************************************************/
#forkme_banner {
  display: block;
  position: absolute;
  top:0;
  right: 10px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  background: url('../images/blacktocat.png')  no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

#downloads {
  position: absolute;
  width: 210px;
  z-index: 10;
  bottom: -40px;
  right: 0;
  height: 70px;
  background: url('../images/icon_download.png') no-repeat 0% 90%;
}

#main_content{
	margin-top:30px;	
}

.zip_download_link {
  display: block;
  float: right;
  width: 90px;
  height:70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../images/sprite_download.png) no-repeat bottom left;
}

.tar_download_link {
  display: block;
  float: right;
  width: 90px;
  height:70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../images/sprite_download.png) no-repeat bottom right;
  margin-left: 10px;
}

.zip_download_link:hover {
  background: url(../images/sprite_download.png) no-repeat top left;
}

.tar_download_link:hover {
  background: url(../images/sprite_download.png) no-repeat top right;
}

/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media screen and (min-width: 480px) {
 
}

/*******************************************************************************
Intermediate Device Styles
*******************************************************************************/


/*******************************************************************************
Large screen
*******************************************************************************/
@media only screen and (min-width:750px) {
.inner {
width: 80%	
}


.c1,.c2,.c3,.c4,.c5,.c6,.c7,.c8,.c9,.c10{
	display:inline; 
	float: left;
	margin-left:1%;
	margin-right:1%;
}

.c1 {width:8%}
.c2 {width:18%}
.c3 {width:28%}
.c4 {width:38%}
.c5 {width:48%}
.c6 {width:58%}
.c7 {width:68%}
.c8 {width:78%}
.c9 {width:88%}
.c10 {width:98%}

}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */
.inner {
    width: 1026px; /* 1140px - 10% for margins */
    margin: 0 auto;
    }
}


